<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="logo.svg" style="height: 28px">
                Yapılacaklar Listesi
            </a>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3" id="sidebar">
                <h2>Listeler</h2>
                <div class="list-group">

                    <a href="#" v-for="(list,index) in listItems" @click="changeListItem(list.id)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        {{ list.title }}
                        <span class="badge badge-primary badge-pill">{{ listItemCount(list.title) }}</span>
                    </a>

                </div>
                <hr>
                <input class="form-control" @keypress.enter="listItemSave" v-model="newListItem.title" placeholder="Yeni Liste Ekle">
            </div>
            <div class="col-md-9">
                <h2>{{ activeListItem.title }} ({{ listItemCount(activeListItem.title) }})</h2>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <form class="row" @submit.prevent="saveItem">
                            <div class="col-12 col-sm pr-sm-0">
                                <input type="text" v-model="dataItem.title" class="form-control" id="todoItem" placeholder="Ne yapılcaktı..?">
                            </div>
                            <div class="col-12 col-sm-auto">
                                <button type="submit" :disabled="!dataItem.title.length" class="btn btn-primary btn-block mb-2">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-hover">

                    <tr v-show="todoList.length === 0">
                        <td colspan="3">Yapılacak iş kalmadı. Her işi başarıyorsun ve iş yetiştiremiyoruz sana. Biraz sakin ol ahbap!</td>
                    </tr>

                    <tr v-for="(item,index) in todoList">
                        <td>
                            <a href="#" @click="toggleTodoListStatus(index)" class="btn btn-sm btn-success" v-show="item.status"><i class="fa fa-check"></i></a>
                            <a href="#" @click="toggleTodoListStatus(index)" class="btn btn-sm btn-secondary" v-show="!item.status"><i class="fa fa-check"></i></a>
                        </td>
                        <td class="text-left w-100">{{ item.title }}</td>
                        <td class="text-right">
                            <a href="#" @click="deleteItem(item.id)" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                </table>

                <hr>
                Tamamlananlar

                <table class="table table-hover">

                    <tr v-show="todoListFinished.length === 0">
                        <td colspan="3">Henüz yaptığın bir şey yok. Git ve güzel şeyler yap birader. Böyle olmaz!</td>
                    </tr>

                    <tr v-for="(item,index) in todoListFinished">
                        <td>
                            <a href="#" @click="toggleTodoListFinishedStatus(index)" class="btn btn-sm btn-success" v-show="item.status"><i class="fa fa-check"></i></a>
                            <a href="#" @click="toggleTodoListFinishedStatus(index)" class="btn btn-sm btn-secondary" v-show="!item.status"><i class="fa fa-check"></i></a>
                        </td>
                        <td class="text-left w-100">{{ item.title }}</td>
                        <td class="text-right">
                            <a href="#" @click="deleteItem(item.id)" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </main>
</div>

<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/vue.js"></script>
<script src="app.js"></script>
</body>
</html>