<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <style>
        .mtop-40{
            margin-top: 40px; }
    </style>
</head>
<body>

<div id="app" class="mtop-40">
    <div class="container">
        <button class="float-right btn btn-success btn-sm" @click="itemNew">+Yeni Ekle</button>

        <div class="modal fade" tabindex="-1" role="dialog" id="itemModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form @submit.prevent="itemSave">
                        <div class="modal-header">
                            <div class="modal-title">Ürün Kaydı</div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group row">
                                    <label for="baslik" class="col-sm-2 col-form-label">Başlık</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="baslik" id="baslik" class="form-control" v-model="formItem.baslik" placeholder="İsim giriniz.">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="kategori" class="col-sm-2 col-form-label">Kategori</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="kategori" id="kategori" class="form-control" v-model="formItem.kategori" placeholder="Kategori giriniz.">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="tutar" class="col-sm-2 col-form-label">Tutar</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="tutar" id="tutar" class="form-control" v-model="formItem.tutar" placeholder="Tutar giriniz.">
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" :value="formItem.id > 0 ? 'Güncelle' : 'Kaydet'">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <h2>Ürünler ({{ list.length }} kayıt)</h2>
        <hr>
        <table class="table table-bordered table-hover">

            <tr v-if="!list.length">
                <td>Kayıt Yok</td>
            </tr>
            <tr v-for="(item,index) in list">
                <td>{{ item.id }}</td>
                <td>
                    <img :src="item.resim" style="width:100px; height:50px;">
                </td>
                <td>{{ item.baslik }}</td>
                <td>{{ item.kategori}}</td>
                <td>{{ item.tutar  }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" @click="itemEdit(item.id)"> Düzenle</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" @click="itemDelete(item.id)"> Sil</button>
                </td>
            </tr>

        </table>
    </div>
</div>

<script src="../assets/js/vue.min.js"></script>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/axios.min.js"></script>
<script src="../assets/js/sweetalert2.all.js"></script>
<script>
    const app = new Vue({
        el:'#app',
        name:'Ümit UZ App',
        data:{
            formItem:{},
            list: []
        },
        created(){
            this.getProducts();
        },
        methods:{
            getProducts(){
                axios.get('http://localhost:3001/products')
                    .then((res) => {
                        this.list = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            },
            itemNew(){
                this.formItem = {};
                $('#itemModal').modal('show');
            },
            itemSave(){
                if(this.formItem.id > 0){
                    axios.put('http://localhost:3001/products/'+this.formItem.id,this.formItem)
                        .then((res) => {
                            swal('Ürün','Güncellendi','success');
                            this.getProducts();

                            this.formItem = {};
                            $('#itemModal').modal('hide');

                        })
                        .catch((err) => {
                            console.log(err);
                        });
                }else{
                    axios.post('http://localhost:3001/products',this.formItem)
                        .then((res) => {
                            swal('Ürün','Kaydedildi','success');
                            this.getProducts();

                            this.formItem = {};
                            $('#itemModal').modal('hide');

                        })
                        .catch((err) => {
                            console.log(err);
                        });
                }
            },
            itemEdit(id){
                axios.get('http://localhost:3001/products/'+id)
                    .then((res) => {
                        this.formItem = res.data;
                        $('#itemModal').modal('show');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            itemDelete(id){
                swal({
                    title:'Emin Misiniz?',
                    text:'Bu kaydı kalıcı olarak silmek istediğinize emin misiniz? Kalıcı olarak silinen veriler geri döndürülemez.',
                    type:'warning',
                    showCancelButton: 'true',
                    cancelButtonText:'İptal',
                    confirmButtonText:'Sil',
                }).then((result) => {
                    if(result.value){
                        axios.delete('http://localhost:3001/products/'+id,this.formItem)
                            .then((res) => {
                                swal('Ürün','Silindi','success');
                                this.getProducts();
                            })
                            .catch((err) => {
                                console.log(err);
                            })
                    }
                })
            }
        }

    });
</script>
</body>
</html>